layout {
    tab name="Code" focus=true {
        pane split_direction="vertical" {
            pane name="Editor" command="nu" size="75%" focus=true {
                args "-e" "helix"
            }
            pane split_direction="horizontal" {
                pane name="Pomodoro Timer" command="porsmo" size="20%" start_suspended=true
                pane stacked=true {
                    pane name="Tests" command="bacon" {
                        args "test"
                    }
                    pane name="Clippy" command="bacon" {
                        args "clippy"
                    }
                }
            }
        }
    }
    tab name="GitUI" {
        pane name="GitUI" command="nu" {
            args "-e" "gitui"
        }
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
