layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane name="Editor" command="nu" size="75%" focus=true {
            args "-e" "helix"
        }
        pane split_direction="horizontal" {
            pane name="Pomodoro Timer" command="nu" size="15%" {
                args "-e" "porsmo"
            }
            pane name="Terminal"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
